{% extends 'crud/base.html' %} {% block content %}
<h1>Index</h1>

<form method="post">
  {% csrf_token %}
  <table class="table table-border table-light w-75">
    <tr>
      <th>Name</th>
      <th>Value</th>
      <th>Action</th>
    </tr>
    {% if not form.instance.id %}<!---->
    {% include 'crud/save.html' %}<!---->
    {% endif %}<!---->
    {% if scores %}<!---->
    {% for score in scores %}
    <tr>
      {% if form.instance.id == score.id %}<!---->
      {% include 'crud/save_cancel.html' %}<!---->
    </tr>
    {% else %}
    <tr>
      <td>{{ score.name }}</td>
      <td>{{ score.score }}</td>
      <td>
        <button
          formnovalidate
          class="btn btn-dark btn-sm"
          type="submit"
          name="update"
          value="{{ score.id }}"
        >
          Update
        </button>
        <button
          class="btn btn-primary btn-sm"
          formnovalidate
          type="submit"
          name="delete"
          value="{{ score.id }}"
        >
          Delete
        </button>
      </td>
    </tr>
    {% endif %}<!---->
    {% endfor %}<!---->
    {% else %}
    <tr>
      <td>score.name</td>
      <td>score.score</td>
      <td>
        <button type="submit">Update</button>
        <button type="submit">Delete</button>
      </td>
    </tr>
    {% endif %}
  </table>
</form>
{% endblock %}
